AP-12_MQTT_23.02.20204_v1.0.json
[
    {
        "id": "c3edd251c85427e2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },

    {
        "id": "d6d403539f055ac7",
        "type": "mqtt out",
        "z": "c3edd251c85427e2",
        "name": "",
        "topic": "AP-12-MQTT",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2cb8ca92be501688",
        "x": 1150,
        "y": 580,
        "wires": []
    },
    {
        "id": "8902cc317484927f",
        "type": "fs-ops-dir",
        "z": "c3edd251c85427e2",
        "name": "",
        "path": "/mnt/docker_common/scaback",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "payload",
        "dirType": "msg",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "12b4b1b6d206c3f7"
            ]
        ]
    },
    {
        "id": "a6710ed5d852ca04",
        "type": "file in",
        "z": "c3edd251c85427e2",
        "name": "scaback",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "fbf033d2e739901b"
            ]
        ]
    },
    {
        "id": "fbf033d2e739901b",
        "type": "csv",
        "z": "c3edd251c85427e2",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 690,
        "y": 440,
        "wires": [
            [
                "28491e31f58279af",
                "7caf1ba35e43e51b"
            ]
        ]
    },
    {
        "id": "6cbdf6f678a4ec73",
        "type": "template",
        "z": "c3edd251c85427e2",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "fields,unit\nA.Ms.Watt,kW\nAlimTemperature,DEGC\nAT,DEGC\nAT_15,DEGC\nAT_60,DEGC\nB.Ms.Watt,kW\nBATT,\nBR,V\nCosPhi,\nE-Total,kWh\nEA+,kWh\nEA-,kWh\nEAF+,kWh\nEAF-,kWh\nEP+,kWh\nEP-,kWh\nEQ+lag,kWh\nEQ+lead,kWh\nEQ-lag,kWh\nEQ-lead,kWh\nEQC+,kWh\nEQC-,kWh\nEQI+,kWh\nEQI-,kWh\nES+,kWh\nES-,kWh\nE_DAY,kWh\nE_Month,kWh\nE_partial,kWh\nE_Q,kWh\nE_S,kWh\nE_Total,kWh\nE_Total_G,kWh\nE_Total_RAW,kWh\nE_WEEK,kWh\nE_YEAR,kWh\nFAC,Hz\nFac-delta+,Hz\nFac-delta+Fast,Hz\nFac-delta-,Hz\nFac-delta-Fast,Hz\nFac-Limit,Hz\nFac-Max-Fast-Tm,s\nFac-Max-Tm,s\nFac-Min-Fast-Tm,s\nFac-Min-Tm,s\nFac-Srr,Hz\nFac-Start,Hz\nFAC1,Hz\nFAC2,Hz\nFAC3,Hz\nFactory-Test,\nFAC_10MW,Hz\nFAC_20MW,Hz\nFAC_2MW,Hz\nFAC_MV,Hz\nFanA1Speed,rpm\nFanA2Speed,rpm\nFanA3Speed,rpm\nFanB1Speed,rpm\nFanB2Speed,rpm\nFanB3Speed,rpm\nFanB4Speed,rpm\nFREQ,Hz\nFWDSECONDS,s\nh-on,h\nh-Total,h\nHeatsinkTemperature,DEGC\nIAC,A\nIac-Ist,A\nIac-Soll,A\nIAC1,A\nIAC1_avg5min,A\nIAC2,A\nIAC2_avg5min,A\nIAC3,A\nIAC3_avg5min,A\nIACN,A\nIAC_alarm,A\nIAC_avg5min,A\nIAC_mean,A\nIDC,A\nIDC01,A\nIDC02,A\nIDC03,A\nIDC04,A\nIDC05,A\nIDC06,A\nIDC07,A\nIDC08,A\nIDC09,A\nIDC10,A\nIDC11,A\nIDC12,A\nIDC13,A\nIDC14,A\nIDC15,A\nIDC16,A\nIDC1,A\nIDC1_Alarm,\nIDC1_Alrm,\nIDC1_avg1min,A\nIDC1_avg5min,A\nIDC1_max,A\nIDC2,A\nIDC2_Alarm,\nIDC2_Alrm,\nIDC2_avg1min,A\nIDC2_avg5min,A\nIDC2_max,A\nIDC3,A\nIDC3_Alarm,\nIDC3_Alrm,\nIDC3_avg1min,A\nIDC3_avg5min,A\nIDC4,A\nIDC4_Alarm,\nIDC4_Alrm,\nIDC4_avg1min,A\nIDC4_avg5min,A\nIDC5,A\nIDC5_Alarm,\nIDC5_Alrm,\nIDC5_avg1min,A\nIDC5_avg5min,A\nIDC6,A\nIDC6_Alarm,\nIDC6_Alrm,\nIDC6_avg1min,A\nIDC6_avg5min,A\nIDC7,A\nIDC8,A\nIDC9,A\nIDCTotal,A\nIDC_avg5min,A\nIDC_load,A\nIDC_now,A\nIDC_total_load,A\nIpv,A\nIscr_1,A\nIscr_15,A\nIscr_5,A\nIsc_1,A\nIsc_15,A\nIsc_5,A\nIX_hi,\nIX_lo,\nKVAH,kVAh\nMF_hi,\nMF_lo,\nOpHrs,h\nOpHrs_Day,h\nPAC,kW\nPAC1,kW\nPAC1_MV,kW\nPAC2,kW\nPAC2_MV,kW\nPAC3,kW\nPAC3_MV,kW\nPACA,kW\nPACB,kW\nPACC,kW\nPAC_10,kW\nPAC_avg5min,kW\nPAC_float,kW\nPAC_HIGH,kW\nPAC_IN1_R1,kW\nPAC_IN2_R1,kW\nPAC_LF_10MW,kW\nPAC_LF_20MW,kW\nPAC_LF_2MW,kW\nPAC_LOW,kW\nPAC_MAX,kW\nPAC_MAX_TIME,kW\nPAC_MIN,kW\nPAC_MV,kW\nPAC_OUT_R1,kW\nPAC_STF1_20MW,kW\nPAC_STF2_20MW,kW\nPDC,kW\nPDC1,kW\nPDC2,kW\nPDC3,kW\nPDC_avg5min,kW\nPF,\nPHI1,DEG\nPHI2,DEG\nPHI3,DEG\nPKT,kW\nPX_hi,\nPX_lo,\nQAC,kVAr\nRH,%\nRH_15,%\nRH_60,%\nRUN_HOUR,h\nRY,V\nSAC,kVA\nSac,kVA\nSoilingCalcState_1,\nSoilingCalcState_15,\nSoilingCalcState_5,\nSoilingLoss_1,%\nSoilingLoss_15,%\nSoilingLoss_5,%\nSR1,W/mSQUA\nSR1_15,W/mSQUA\nSR1_60,W/mSQUA\nSR2,W/mSQUA\nSR2_15,W/mSQUA\nSR2_60,W/mSQUA\nSUN_24,h\nSUN_60,h\nT1,DEGC\nT2,DEGC\nT3,DEGC\nT3_300,DEGC\nT3_900,DEGC\nT3_R,DEGC\nT4,DEGC\nTref_1,DEGC\nTref_15,DEGC\nTref_5,DEGC\nTsoil_1,DEGC\nTsoil_15,DEGC\nTsoil_5,DEGC\nTSP,DEGC\nTSP_15,DEGC\nTSP_24,DEGC\nTSP_60,DEGC\nU1,\nU1_300,W/mSQUA\nU1_900,W/mSQUA\nU1_R,W/mSQUA\nU2,V\nU2_300,V\nU2_900,V\nU2_R,V\nU3,V\nU4,V\nU4_300,W/mSQUA\nU4_900,W/mSQUA\nU4_R,W/mSQUA\nUAC,V\nUac-BFR-Fakt,\nUac-Max,V\nUac-Max-Fast,V\nUac-Max-Fast-Tm,V\nUac-Max-Tm,V\nUac-Min-Fast,V\nUac-Min,V\nUac-Min-Fast-Tm,s\nUac-Min-Tm,s\nUac-Srr,V\nUac-SRR-Fakt,V\nUAC1,V\nUAC2,V\nUAC3,V\nUAC12,V\nUAC23,V\nUAC31,V\nUAC_10MW,V\nUAC_20MW,V\nUAC_2MW,V\nUDC,V\nUDC1,V\nUDC2,V\nUDC3,V\nUDC4,V\nUDC_av5min,V\nUDC_avg5min,V\nUpv-Ist,\nVBulk+,V\nVBulk-,V\nVX_hi,\nVX_lo,\nWD,DEG\nWD_15,DEG\nWD_15_Sig,\nWD_60,DEG\nWD_60_Sig,\nWS,m/s\nWS_15,m/s\nWS_15_Max,m/s\nWS_60,m/s\nWS_60_Max,m/s\nYB,V\n\n",
        "output": "str",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "85c2ac8d5c05a323"
            ]
        ]
    },
    {
        "id": "85c2ac8d5c05a323",
        "type": "csv",
        "z": "c3edd251c85427e2",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "a8c346d80bb067c3"
            ]
        ]
    },
    {
        "id": "28491e31f58279af",
        "type": "change",
        "z": "c3edd251c85427e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "scaback",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "cb7c619a7b7beefa"
            ]
        ]
    },
    {
        "id": "a8c346d80bb067c3",
        "type": "change",
        "z": "c3edd251c85427e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "unit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "cb7c619a7b7beefa"
            ]
        ]
    },
    {
        "id": "cb7c619a7b7beefa",
        "type": "function",
        "z": "c3edd251c85427e2",
        "name": "combine",
        "func": "context.data = context.data || {};\nswitch (msg.topic) {\n    case \"scaback\":\n        context.data.scaback = msg.payload;\n        msg = null;\n        break;\n    case \"unit\":\n        context.data.unit = msg.payload;\n        msg = null;\n        break;\n}\nif (context.data.scaback != null && context.data.unit != null) {\n    var data_combine = {\n        \"scaback\": context.data.scaback,\n        \"unit\": context.data.unit\n\n    }\n    context.data = null\n    return { payload: data_combine };\n}  ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 460,
        "wires": [
            [
                "c5392cf592eece42"
            ]
        ]
    },
    {
        "id": "ef5d9de027ce5860",
        "type": "comment",
        "z": "c3edd251c85427e2",
        "name": "Scaback Data Flow",
        "info": "",
        "x": 230,
        "y": 400,
        "wires": []
    },
    {
        "id": "12b4b1b6d206c3f7",
        "type": "function",
        "z": "c3edd251c85427e2",
        "name": "file to read",
        "func": "const delete_array = flow.get(\"delete_array\")\nvar send_file=msg.payload.filename\nfor (var i = 0; i < msg.payload.length; i++) {\n    for (var j = 0; j < delete_array.length; j++) {\n        if (msg.payload[i] != delete_array[j])\n        {\n          msg.filename = \"/mnt/docker_common/scaback/\" + msg.payload[i]\n          node.send(msg)\n       \n        }\n        return null\n    }\n    return null \n}\nreturn null",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 460,
        "wires": [
            [
                "a6710ed5d852ca04",
                "6cbdf6f678a4ec73",
                "90e6a7c4e8ad4dba"
            ]
        ]
    },
    {
        "id": "e79c041a5ced7a6a",
        "type": "tcp request",
        "z": "c3edd251c85427e2",
        "name": "influx status",
        "server": "iplon-pvindia.com",
        "port": "63800",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 290,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3b038789f40969a1",
        "type": "inject",
        "z": "c3edd251c85427e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "e79c041a5ced7a6a"
            ]
        ]
    },
    {
        "id": "c5392cf592eece42",
        "type": "function",
        "z": "c3edd251c85427e2",
        "name": "comparison",
        "func": "var status = flow.get(\"influx-status\")\nif (status.fill == 'green') {\n\n    var mqtt_status = flow.get(\"mqtt-status\")\n    if (mqtt_status.fill == 'green') {\n    var plantobj = []\n    for (var i = 0; i < msg.payload.scaback.length; i++) {\n        if ((msg.payload.scaback[i].value != \"NaN\") && (msg.payload.scaback[i].value != \"nan\") && (msg.payload.scaback[i].value != \"inf\") && (msg.payload.scaback[i].value != \"-inf\") ) {\n            var dateUTC1 = msg.payload.scaback[i].ts *1000//).toISOString().slice(0, 19);\n            var p = \"AP-12\"\n            var b;\n            var bd;\n            var d;\n            var dd;\n            var dt;\n            var f;\n            var fd;\n            var h = \"\"\n            var iid;\n            var value;\n            var text = \"\"\n            var qu = 0\n            var u;\n            for (var j = 0; j < msg.payload.unit.length; j++) {\n                var f_ref = msg.payload.unit[j].fields\n                b = msg.payload.scaback[i].blockname\n                d = msg.payload.scaback[i].dev\n                dd = b + \"_\" + d\n                f = msg.payload.scaback[i].chn\n                fd = msg.payload.scaback[i].chn\n                iid = msg.payload.scaback[i][\"#id\"]\n                value = msg.payload.scaback[i].value\n                if (b.match(\"B\")) { bd = b.replace(/B/g, \"BLOCK_\"); }\n                if (b.match(\"WS\")) { bd = \"WS\" } else { bd = b }\n                if (d.match(\"EM\")) { dt = \"EM\" }\n                if (d.match(\"INV\")) { dt = \"INV\" }\n                if (d.match(\"IO\")) { dt = \"IO\" }\n                if (d.match(\"WS\")) { dt = \"WS\" }\n                if (f == f_ref) { u = msg.payload.unit[j].unit; break; }\n                else { u = \"\" }\n\n            }\n            var obj = {\n                Time: dateUTC1,\n                value,\n                qu,\n                text,\n                b,\n                bd,\n                d,\n                dd,\n                dt,\n                f,\n                fd,\n                h,\n                iid,\n                m: 1,\n                p,\n                u\n            }\n            plantobj.push(obj)\n        }\n    }\n    msg.payload = plantobj\n    return msg;\n}\n}\nelse { return null; }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "d6d403539f055ac7",
                "49b13da4fd9d90f5",
                "61655c6bfe689629"
            ]
        ]
    },
    {
        "id": "aecb6737c5b8a5a4",
        "type": "fs-ops-delete",
        "z": "c3edd251c85427e2",
        "name": "",
        "path": "/mnt/docker_common/scaback",
        "pathType": "str",
        "filename": "payload",
        "filenameType": "msg",
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "aa1297fd7c344719"
            ]
        ]
    },
    {
        "id": "90e6a7c4e8ad4dba",
        "type": "debug",
        "z": "c3edd251c85427e2",
        "name": "debug 83",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "777d006abfc50537",
        "type": "change",
        "z": "c3edd251c85427e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delete_array",
                "pt": "flow",
                "to": "[\"scabackFast_1690871836559.csv.unsent\"]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "286dd25f1ae5834d",
        "type": "inject",
        "z": "c3edd251c85427e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1050,
        "y": 280,
        "wires": [
            [
                "777d006abfc50537"
            ]
        ]
    },
    {
        "id": "31c67e144012567c",
        "type": "inject",
        "z": "c3edd251c85427e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "8902cc317484927f"
            ]
        ]
    },
    {
        "id": "aa1297fd7c344719",
        "type": "function",
        "z": "c3edd251c85427e2",
        "name": "function 130",
        "func": "const delete_array = flow.get(\"delete_array\");\n\ndelete_array.push(msg.payload)\nflow.set(\"delete_array\", delete_array)\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e4b7e534b686566f",
        "type": "function",
        "z": "c3edd251c85427e2",
        "name": "function",
        "func": "\nvar status = flow.get(\"influx-status\")\nif (status.fill == 'green') {\n\n    var mqtt_status = flow.get(\"mqtt-status\")\n    if (mqtt_status.fill == 'green') {\n\nconst str =msg.filename\nconst afterLastSlash = str.slice(str.lastIndexOf('/') + 1);\nconsole.log(afterLastSlash); \n\nmsg.payload = afterLastSlash\nreturn msg;\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 400,
        "wires": [
            [
                "aecb6737c5b8a5a4"
            ]
        ]
    },
    {
        "id": "7923ba29562ca3b6",
        "type": "status",
        "z": "c3edd251c85427e2",
        "name": "",
        "scope": [
            "e79c041a5ced7a6a"
        ],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "664c6ed49a16dd97"
            ]
        ]
    },
    {
        "id": "664c6ed49a16dd97",
        "type": "change",
        "z": "c3edd251c85427e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "influx-status",
                "pt": "flow",
                "to": "status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "519a0ea8753ef499",
        "type": "catch",
        "z": "c3edd251c85427e2",
        "name": "",
        "scope": [
            "e79c041a5ced7a6a"
        ],
        "uncaught": false,
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "229406a203df6479",
        "type": "comment",
        "z": "c3edd251c85427e2",
        "name": "influxdb status checking and flow setting",
        "info": "",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "caf9c67f12dcf967",
        "type": "comment",
        "z": "c3edd251c85427e2",
        "name": "delete flow creation and deletion",
        "info": "",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "38f93d542cc977c4",
        "type": "comment",
        "z": "c3edd251c85427e2",
        "name": "file deletion after mqtt publish",
        "info": "",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "91a3e2923fae5b2c",
        "type": "status",
        "z": "c3edd251c85427e2",
        "name": "",
        "scope": [
            "bd2734836d3ef8a7"
        ],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "b47e82d0f86a4284"
            ]
        ]
    },
    {
        "id": "b47e82d0f86a4284",
        "type": "change",
        "z": "c3edd251c85427e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mqtt-status",
                "pt": "flow",
                "to": "status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "36b4500f2d662c3a",
        "type": "comment",
        "z": "c3edd251c85427e2",
        "name": "mqtt status checking and flow setting",
        "info": "",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "bd2734836d3ef8a7",
        "type": "tcp request",
        "z": "c3edd251c85427e2",
        "name": "mqttstatus",
        "server": "imqtt.iplon.co.in",
        "port": "1883",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "59bbaa27a9bc67e8",
        "type": "inject",
        "z": "c3edd251c85427e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "bd2734836d3ef8a7"
            ]
        ]
    },
    {
        "id": "49b13da4fd9d90f5",
        "type": "debug",
        "z": "c3edd251c85427e2",
        "name": "debug 87",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "56c298b44b524949",
        "type": "tcp request",
        "z": "c3edd251c85427e2",
        "name": "tata cloud",
        "server": "mqtt-dev.tatapower.com",
        "port": "8883",
        "out": "sit",
        "ret": "buffer",
        "splitc": " ",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 520,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "51688663a8004b65",
        "type": "inject",
        "z": "c3edd251c85427e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 680,
        "wires": [
            [
                "56c298b44b524949"
            ]
        ]
    },
    {
        "id": "61655c6bfe689629",
        "type": "mqtt out",
        "z": "c3edd251c85427e2",
        "name": "",
        "topic": "AP12_GCP",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "93d538c462dfa26f",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "7caf1ba35e43e51b",
        "type": "debug",
        "z": "c3edd251c85427e2",
        "name": "debug 88",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "2cb8ca92be501688",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iplon-pvindia.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "93d538c462dfa26f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "imqtt.iplon.co.in",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]